html,body{
    background-color: #F2C84B;
}

#games-canvas{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 800px;
    background-color: #F28C0F;
}